@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,300italic);

/*
 main header: #2d2d32
 secondary header: #0c71d0

 light grey: #f3f4f5;
 colors danger/error: #ff4533 #cd3729
 colors warning: #ed9e2e #F28D1A
 colors success: #83c129 #69ad21
 colors default: #bbbfc4 #a5aab0

 */

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot?#iefix') format('embedded-opentype'),
    url('../font/fontello.woff') format('woff'),
    url('../font/fontello.ttf') format('truetype'),
    url('../font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

pre, code {
    background: #fff;
    font-family: "Source Code Pro", Menlo, Consolas, "Courier New", Courier, monospace;
    border-radius: 0;
    border: none;
    color: #2d2d32;
    line-height: 12px;
    font-size: 12px;
}
pre {
  border-left: 2px solid #0c71d0;
}
code.hljs { display: inline; }

label {
  display: block;
  font-weight: normal;
}

body {
    background: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    padding-top: 58px;
}
.logo {
  position: absolute;
  width: 75px;
  left: -98px;
  top: -33px;
}
@media (min-width: 1200px) {
  .logo {
    width: 58px;
    left: -80px;
  }
}

hr {
  border-color: #0c71d0;
}
a, .package .package-aside a {
  color: #2f9de2;
}
a:hover, .package .package-aside a:hover {
  color: #2d2d32;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
i, cite, em, var, address, dfn {
  font-style: italic;
  font-weight: 300;
}
strong {
  font-weight: 600;
}
.h3, h3 {
    font-size: 16px;
    font-weight: 600;
}

.navbar-wrapper {
    left: 0;
    right: 0;
    top: 0;
    min-height: 58px;
    z-index: 15;
    background: #2d2d32;
}

.navbar {
    margin: 0;
    border: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

.navbar .navbar-brand {
    padding: 12px 4px;
    line-height: 32px;
    margin: 0;
}

.navbar .navbar-brand a {
    float: left;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.navbar-brand-dropdown {
    padding: 12px 4px;
    line-height: 32px;
    margin: 0;
}

.navbar .navbar-brand-dropdown a.dropdown-toggle {
    float: left;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05), inset 0 2px 0 -1px rgba(255,255,255,.1);
    background-color: #37373c;
    border-radius: 3px;
    border: 1px solid #5c5c5c;
    padding: 0px 12px;
}
.navbar-brand-dropdown a.dropdown-toggle:hover {
    background-color: #2d2d2e;
}

.navbar .navbar-brand em {
    padding-left: 15px;
    padding-top: 8px;
    font-size: 14px;
    color: #f3f4f5;
}

.navbar-collapse {
    border: 0;
}

.navbar-toggle {
    background: rgba(0, 0, 0, 0.3);
    margin-top: 12px;
}

.navbar-toggle span {
    background: #fff;
}

.navbar .nav > li > a, .navbar .nav > .active > a, .navbar .nav > li > section {
    padding: 18px 25px 19px;
    background: none;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
}
.nav .nav-user-signin {
    padding: 18px 25px 19px !important;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none;
    color: #fff;
}


.navbar .nav > li > a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.navbar .nav > li > a:focus {
    background: #0c71d0;
    color: #fff;
}

.navbar .nav {
    float: right;
    margin: 1px 0 0 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.nav-user {
    position: relative;
}

.navbar .nav > li > a.nav-signout {
    padding: 19px 19px 15px;
    font-size: 22px;
}

.navbar .nav > .nav-user > section {
    cursor: pointer;
}

.navbar .nav > .nav-user > .nav-user-signin {
    padding: 17px 20px;
}

.navbar .nav > .nav-user > section > .nav-user-menu, .navbar .nav > .nav-user > section > .signin-box {
    display: none;
}

.navbar .nav > .nav-user > section:hover > .nav-user-menu, .navbar .nav > .nav-user > section:hover > .signin-box {
    display: block;
}

@media (max-width: 767px) {
    .navbar .nav { float: none; }
    .navbar .nav > li > a,
    .navbar .nav > .active > a {
        border-bottom: 1px solid rgba(118, 111, 107, 0.69);
    }
    .navbar .nav > li:last-child > a {
        border-bottom: 0;
    }
    .navbar .nav > .nav-user > section:hover > .nav-user-menu,
    .navbar .nav > .nav-user > .nav-user-signin:hover > .signin-box {
        display: none;
    }
}

.navbar .nav > .nav-user > section a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.navbar .nav > .nav-user > section:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navbar .nav > .nav-user > section:hover > .nav-user-menu a:hover {
    color: #0c71d0;
}

.nav-user section img {
    width: 57px;
    height: 57px;
    margin-right: 15px;
    margin-top: -5px;
}

.nav-user .nav-user-menu, .nav-user .signin-box {
    z-index: 110;
    background: #414145;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    top: 57px;
    right: 0;
    position: absolute;
}
.nav-user .nav-user-menu {
    width: 220px;
}

.nav-user .nav-user-menu ul {
    padding: 12px 15px 12px 20px;
}

.nav-user .nav-user-menu li {
    line-height: 31px;
}

.nav-user .nav-user-menu a {
    color: #fff;
}

.nav-user .nav-user-menu span {
    float: right;
    font-size: 20px;
    margin-top: 5px;
}

.nav-user .nav-user-menu span.normal {
    float: none;
}

.nav-user .nav-user-menu hr {
    margin: 7px 0 5px;
}

.nav-user .signin-box {
    width: 300px;
    color: #fff;
}

.nav-user .signin-box form {
    padding: 15px 20px 12px;
}

.nav-user .signin-box .input-group-addon {
    background: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-user .signin-box .form-control {
    border-left: 0;
    box-shadow: none;
    border-radius: 3px;
}

.nav-user .signin-box div {
    font-size: 13px;
}

.nav-user .signin-box .checkbox {
    float: left;
    margin-top: 4px;
}

.nav-user .signin-box .signin-box-buttons {
    float: left;
    width: 100%;
    padding: 10px;
}

.nav-user .signin-box .signin-box-register {
    background: #0c71d0;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 11px 0 0;
    padding: 7px 21px;
    width: 100%;
    text-align: center;
}

.nav-user .signin-box label {
    vertical-align: middle;
}

.nav-user .btn-success {
    width: 42%;
}

.nav-user .btn-github {
    font-weight: 600;
    padding: 6px 12px 5px;
    width: 56%;
}

.nav-user .btn-github span {
    font-size: 20px;
    margin: 0 4px 0 0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}


/* overrides for dropdown menu on mobile */
@media (max-width: 767px) {
    .navbar .nav > li {
        height: 57px;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .nav-user .nav-user-menu {
        right: 0;
    }
    .nav-user-signin {
        width: 100%;
    }
    .nav-user .signin-box {
        left: auto;
        right: 0;
    }
}



.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -135px;
    padding: 0 0 135px;
    position: relative;
}

.wrapper .container {
    padding: 26px 20px;
    color: #2d2d32;
}
.wrapper .container.flash-container {
  padding-bottom: 0;
}

.content p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
}

.wrapper-search .container {
    padding: 10px 20px 15px;
}
@media (min-width: 768px) {
  .wrapper-search .container.with-description {
    padding-left: 143px;
  }
}
.wrapper-search .container p {
  margin-top: 8px;
  margin-bottom: 0;
}

.wrapper .container .btn-white {
    margin: -3px 0 0 5px;
}

.wrapper-search {
    background: #0c71d0;
}

.wrapper-search .container {
    color: #fff;
}

.wrapper-search a {
    color: #fff;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
}

.wrapper-search a:hover {
    text-decoration: none;
}

#search-container {
    margin-top: -20px;
}

#search-container em {
    font-style: normal;
    background: rgba(255, 255, 0, 0.16);
    box-shadow: 0px 0px 2px rgba(210, 210, 91, 0.67);
    border-radius: 3px;
    font-weight: inherit;
}

.search-facets {
    border-radius: 2px;
    padding: 0 15px;
    margin-top: 35px;
}
.search-facets > div:not(:last-child) > div {
    margin-bottom: 15px;
}
.search-facets .ais-menu--item__active {
    font-weight: bold;
}
.search-facets .ais-header {
    border-bottom: 1px solid #0c71d0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.search-facets .ais-show-more {
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}
.search-facets .ais-show-more:after {
    content: '...';
    display: inline-block;
}

.sbx-sffv__wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.sbx-sffv__wrapper input {
    height: 22px;
    border: 1px solid #0c71d0;
    border-radius: 3px;
    margin-right: 6px;
    padding-left: 4px;
    margin-bottom: 5px;
}
.sbx-sffv__wrapper button {
    width: 22px;
    height: 22px;
    display: inline-block;
    overflow: hidden;
    padding: 2px 5px 1px;
    background: none;
    border: 0;
}
.sbx-sffv__wrapper svg {
    width: 100% !important;
    height: 100% !important;
}

.wrapper-footer {
    background: #2d2d32;
    font-size: 14px;
    line-height: 16px;
    padding: 45px 0 20px;
}
footer p {
  float: left;
  color: #c3c3c3;
}

.wrapper-footer ul {
    list-style: none;
}

.wrapper-footer li {
    padding-bottom: 8px;
}

.wrapper-footer a {
    color: #fff;
}

.wrapper-footer .social {
    font-size: 26px;
}

.wrapper-footer .social li {
    float: right;
    margin-left: 15px;
}


#search-form {
    margin-top: 5px;
}

#search-form input[type="search"] {
    background: #FFF;
    font: 18px 'Open Sans', sans-serif;
    border: 0;
    padding: 0px 10px;
    color: #2d2d32;
    outline: none;
}


button {
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    min-height: 20px;
    padding: 7px 11px 6px 9px;
    box-shadow: none;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;

    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.form-control[disabled] {
    background: #fff;
}

.form-control:focus {
    padding: 6px 9px 5px;
    box-shadow: none;
    border-width: 2px;
    border-radius: 0 2px 2px 0;
}

.form-control[readonly] {
    cursor: pointer;
}

.form-control[readonly]:focus {
    padding: 7px 11px 6px 9px;
    border-radius: 2px;
    box-shadow: none;
    border-color: inherit;
}

.form-control[data-api-token] {
    font-size: 16px;
    height: 42px;
    padding: 5px 11px 7px 9px;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    box-shadow: none;
}

.input-group {
    display: inline;
}

.input-group .input-group-addon {
    float: left;
    min-height: 22px;
    width: 10%;
    line-height: 20px;
    padding: 6px 0;
    margin: 0 -4px 6px 0;
    border-right: 0;
    background: none;
    color: #7e7d7b;
    font-size: 16px;
}

.input-group .form-control {
    width: 90%;
    float: right;
    margin: 0 0 6px;
}

.api-token-group {
    display: block;
    min-height: 45px;
}
.api-token-group #api-token {
  width: 83%;
  position: absolute;
  right: 0;
  text-align: center;
}
.api-token-group .btn-show-api-token {
  width: 145px;
  position: absolute;
  z-index: 10;
}

.input-group input.input-lg ~ .input-group-addon {
    line-height: 32px;
    font-size: 20px;
}

.input-group .input-group-addon-button {
    padding: 0;
}

.input-group .input-group-addon .btn {
    padding: 6px 20px;
    border-width: 0 0 2px;
}

.input-group input:focus ~ .input-group-addon {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgba(82, 168, 236, 0.8);
    border-right: 0;
    border-radius: 2px 0 0 2px;
}

.input-group input:focus ~ .input-group-addon span {
    margin-left: -1px;
    color: rgb(82, 168, 236);
}

.packages {
    margin-top: 20px;
}

.packages h1 {
  font-family: Verdana;
  font-size: 22px;
  line-height: 1em;
  font-weight: normal;
  margin: 0;
  padding: 8px 4px 0 0;
  height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.packages .metadata {
  color: #555;
  font-size: 15px;
}
.packages .metadata .glyphicon {
  top: 3px;
  margin: 0 1px;
  font-size: 18px;
}
.packages .metadata-block {
  display: block;
  margin-bottom: 10px;
}
.packages .metadata-block:last-child {
  margin-bottom: 0;
}

.input-group input:focus:invalid:focus {
    border-color: #fa3a15;
}

.input-group input:focus:invalid:focus ~ .input-group-addon {
    border-color: #fa3a15;
}

.input-group input:focus:invalid:focus ~ .input-group-addon span {
    color: #fa3a15;
}

.input-group input, .input-group select {
    border-left: 0;
}

.input-group-addon:last-child, .input-group .btn:last-child {
    border-radius: 2px 0 0 2px;
}

.input-group .form-control:first-child, .input-group-addon:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-addon:last-child {
    border-left: 1px solid;
    border-right: 0;
}

.nav-user-menu .nav-tabs {
    border: 0;
}

.nav-user-menu .nav-tabs li a {
    padding: 11px 20px;
    background: #fff;
    color: #515966;
    font-weight: 600;
    border-radius: 0;
}

.nav-user-menu  .nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

.nav-user-menu  .nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

.nav-user-menu .nav-tabs li.active a, .nav-tabs.nav-stacked > li > a:hover {
    background: #0c71d0;
    color: #fff;
}

.nav-user-menu .nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
    border: 0;
}

.nav-user-menu .nav-tabs.nav-stacked > li > a:hover {
    background: #0c71d0;
}

.nav-user-menu .nav-tabs.nav-stacked .fa, .nav-tabs.nav-stacked .fa {
    float: right;
    font-size: 20px;
    margin-top: -2px;
}

.nav-user-menu .nav-stacked>li+li {
  margin-top: 0;
}
.nav-user-menu .nav-tabs>li{
  margin-bottom: 0;
}

.btn {
    padding: 9px 20px;
    box-shadow: none;
    border: 0;
    border-bottom: 4px solid;
    border-radius: 3px;
    text-shadow: none;
    font-weight: 600;
}
.btn-group-xs .btn {
    padding: 5px 10px;
    font-size: 12px;
}

a.loading .btn, .btn.loading, .btn.loading:hover, .btn.loading:active, .btn.loading:focus, a.loading .btn:focus, a.loading .btn:active {
    background-image: url("../img/loader.gif");
    background-position: 95% 50%;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.75;
}

a.loading, a:has(> .btn.loading ) {
    pointer-events: none;
}

.btn-default {
    background: #bbbfc4;
    border-bottom-color: #a5aab0;
    color: #fff;
    font-size: 14px;
}
.btn-default:focus, .btn-default:active {
  color: #fff;
  background: #a5aab0;
  border-bottom-color: #bbbfc4;
}

.btn.disabled {
    border-bottom-color: #e1e1e8;
}

.btn:hover {
    background: #bbbfc4;
    color: #fff;
}

.bootstrap-select .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #555;
}
.bootstrap-select .btn-default {
    background-color: #fff !important;
}

.btn.disabled:hover {
    background: #e6e6e6;
    color: #333;
}

.btn-danger, .btn-danger:hover {
    background: #ff4533;
    border-bottom-color: #cd3729;
}
.btn-danger:focus, .btn-danger:active {
    background: #cd3729;
    border-bottom-color: #ff4533;
}

.btn-inverse, .btn-inverse:hover {
    color: #fff;
    background: #454e5c;
    border-bottom-color: #303339;
}
.btn-inverse:focus, .btn-inverse:active {
    color: #fff;
    background: #303339;
    border-bottom-color: #454e5c;
}

.btn-primary, .btn-primary:hover {
  background: #3594e2;
  border-bottom-color: #2f6cca;
}
.btn-primary:focus, .btn-primary:active {
  background: #2f6cca;
  border-bottom-color: #3594e2;
}

.btn-success, .btn-success:hover {
    background: #83c129;
    border-bottom-color: #69ad21;
}
.btn-success:focus, .btn-success:active {
    background: #69ad21;
    border-bottom-color: #83c129;
}

.btn-warning, .btn-warning:hover {
    background: #ed9e2e;
    border-bottom-color: #F28D1A;
}
.btn-warning:focus, .btn-warning:active {
    background: #F28D1A;
    border-bottom-color: #ed9e2e;
}

.btn-github {
    line-height: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.btn-github span {
    margin: 0 15px 0 0;
    vertical-align: text-top;
    font-size: 22px;
}

/* Search */
#search_query_query {
  display: inline;
}

.wrapper-search {
  clear: both;
}
.wrapper-search .sortable a {
  border: 0;
}

#search_query_orderBys {
  display: none;
}

.sortable .glyphicon.active {
  color: #2d2d32;
}

.sortable #order-bys-wrapper {
  font-size: 24px;
  position: relative;
  top: 2px;
  margin-left: -12px;
  padding-right: 0;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
}

.sortable .order-by-group .icon:first-child {
  margin-right: 5px;
}

.sortable #order-bys-wrapper a {
  margin-right: 7px;
  display: inline-block;
}

.sortable #order-bys-wrapper a.clear {
  width: auto;
  margin-right: 0px;
  margin-left: 5px;
}

#search-form .submit-wrapper {
  width: 100px;
  float: right;
  display: none;
}
.no-js #search-form .submit-wrapper {
  display: block;
}
#search-form .submit {
  margin: 0;
  padding: 6px 20px;
  width: 100px;
}
#search-form p {
  margin: 0;
}
.search-list {
  margin-top: 10px;
}


.package h2.title {
    margin-bottom: -1px !important;
    position: relative;
}
.package .action input.loading, .package .action input.loading:hover, .package .action input.loading:active {
  background-position: 10px center;
  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  padding-left: 35px;
}
.package .action {
  margin-right: 5px;
  margin-bottom: 15px;
  display: inline-block;
}
.package, .package p {
    font-size: 14px;
}

.package p.description {
    margin-top: 0;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .package p.description {
        font-size: 20px;
    }
}
.package .details {
    line-height: 200%;
}
.package .details p > i:first-child {
    margin-right: 5px;
}
.package .details p, .package .facts p {
    margin: 0;
}
.package .details .maintainers {
  padding-bottom: 6px;
  font-size: 0.0001px;
}
.package .details .maintainers img {
  margin-bottom: 4px;
  margin-right: 4px;
}
.package .details #add-maintainer {
  margin-top: 3px;
  margin-bottom: 7px;
  float: right;
  font-size: 34px;
}
.package .details #remove-maintainer {
  float: right;
  font-size: 35px;
  margin-top: 5px;
}
.package .details .canonical {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.package .facts {
    margin-top: 10px;
}
@media (max-width: 991px) and (min-width: 768px) {
    .package .facts {
        margin-top: 0;
    }
}
.package .facts span {
    display: inline-block;
    width: 100px;
}

.package .tags a:before {
  content: "#";
}
.package .tags a {
  margin-right: 10px;
  display: inline-block;
}

.btn-github.disabled {
    background: #ecf0f1;
    color: #bdc3c7;
}



.package .readme {
  padding-bottom: 20px;
}
.wrapper .content .package .readme img {
  max-width: 100%;
}
.wrapper .content .package .readme h1:first-child,
.wrapper .content .package .readme p:first-child,
.wrapper .content .package .readme h2:first-child,
.wrapper .content .package .readme h3:first-child {
  margin-top: 0;
}
.wrapper .content .package .readme h1 {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  margin: 25px 0 10px;
  line-height: 100%;
}
.wrapper .content .package .readme h2 {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  margin: 25px 0 10px;
  line-height: 100%;
}
.wrapper .content .package .readme h3,
.wrapper .content .package .readme h4,
.wrapper .content .package .readme h5,
.wrapper .content .package .readme h6 {
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 15px 0 5px;
  line-height: 100%;
}

.wrapper .content .package .readme table {
  margin: 0 0 15px;
}
.wrapper .content .package .readme th,
.wrapper .content .package .readme td {
  border: 1px solid #CCC;
  padding: 5px 10px;
}
.wrapper .content .package .readme th {
  background: #EEE;
}
.wrapper .content .package .readme table code {
  font-size: 13px;
}

.package .package-aside {
  border-top: 1px solid #0c71d0;
  border-radius: 0;

  margin: 0;
  padding: 20px 0 0;
}
.package .package-aside.versions-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}
.package-aside .details {
  padding-left: 0;
}
.package .package-aside i {
  color: #bbbfc4;
}
.package .package-aside i:hover {
  color: #a5aab0;
}

.package .details-toggler.open, .package .details-toggler.open a, .package .details-toggler.open i {
  background: #0c71d0;
  color: #fff;
}

.package .package-aside.versions-wrapper, .package .version-details {
  margin-top: 20px;
}
.package .version-details .title {
  border-top: 1px solid #0c71d0;
  padding-top: 10px;
}
.package .versions {
  list-style: none;
  line-height: 170%;
  overflow-y: hidden;
  max-height: 300px;
  padding: 0;
  margin: 0;
}
.package .versions-expander {
  text-align: center;
  cursor: pointer;
  margin: 10px 0 0;
  line-height: 25px;
}
.package .versions .version {
  padding: 2px 0 2px 5px;
}
.package .versions .version-number {
  display: block;
  float: left;
  width: 91%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.package .details-toggler {
  cursor: pointer;
}

.package .versions .version {
  position: relative;
  display: block;
  height: 26px;
}
.package .delete-version {
  display: inline-block;
}
.package .delete-version .submit {
  position: absolute;
  right: 5px;
  top: 7px;
}
.package .delete-version .submit:hover {
  color: #cd3729;
}

@media (min-width: 992px) {
    .search-facets .ais-menu--count {
        float: right;
    }

    .package-aside .details {
      padding-left: 15px;
    }
    .package .package-aside {
      background: #fff;
      border-radius: 2px;
      border-top: 0;
      padding: 10px 0;
      margin-left: -15px;
      margin-right: -15px;
    }
    .package .package-aside.versions-wrapper {
      margin-left: 0;
      margin-right: 0;
      padding: 15px;
    }
    .package .versions {
      margin: 0 -15px;
    }
    .package .versions .version {
      padding: 2px 15px 2px 15px;
    }
    .package .delete-version .submit {
      right: 15px;
    }
}
@media (max-width: 767px) {
  .package-aside .facts {
    padding-left: 0;
  }
  .wrapper-footer {
    font-size: 12px;
  }
  .wrapper-footer a {
    white-space: nowrap;
  }
}

.package .version-details .version-number {
  font-size: 16px;
  font-weight: 600;
  color: #2d2d32;
}
.version-details.loading .title .version-number:after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/loader-white.gif");
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  left: 10px;
}
.package .version-details .release-date {
  float: right;
  position: relative;
  top: 3px;
  font-size: 12px;
}
.package .version-details .link-type {
    font-weight: 600;
    text-transform: lowercase;
}
.package i {
    color: #2d2d32;
}
.package .version-details .source-reference {
    margin-left: 10px;
    display: inline-block;
}
.package .version-details .license {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.package .version-details .license .unknown, .abandoned i {
  color: #c00;
}
.package .version-details .authors {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.package .version-details .authors li {
  display: inline;
  margin-right: 5px;
}
.package .version-details .authors li:after {
  content: ", ";
}
.package .version-details .authors li:last-child:after {
  content: "";
}
.package .version-details .package-links {
  border-top: 1px solid #0c71d0;
  border-bottom: 1px solid #0c71d0;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.package .version-details .package-links ul  {
    padding-left: 18px;
}
.package .version-details .package-links .no-links {
    color: #999;
}

.package .requireme {
    margin-top: 15px;
}
.package .requireme input {
  cursor: text;
  border: 0 !important;
  border-radius: 0;
  background-color: transparent;
  font-family: Consolas, "Courier New", Courier, monospace;
  min-width: 80%;
  position: relative;
  top: -3px;
  left: 2px;
}


.package .mark-favorite {
  font-size: 20px;
  cursor: pointer;
  color: #BDC3C7;
  position: absolute;
  left: -25px;
  top: 15px;
}
.package .mark-favorite.is-starred {
  color: #0c71d0;
}
@media (max-width: 767px) {
    .package .mark-favorite {
      left: auto;
      right: 0;
    }
}

#powered-by {
    float: right;
    width: 160px;
    text-align: right;
    padding-top: 16px;
}
#powered-by a img {
    width: 77px;
}

#pagination-container {
    text-align: center;
    margin-bottom: 32px;
}

.pagination {
    margin: 6px 0;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.pagination ul > li {
    float: left;
    line-height: 40px;
    padding: 0;
}

.pagination ul > li > a, .pagination ul > li > span {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
}
.pagination ul > li > a:hover, .pagination .ais-pagination--item__active {
    background: #F2F2F2;
}
.pagination .ais-pagination--item__active a {
    color: #000 !important;
}

.legend {
  font-size: .8em;
  margin-bottom: 10px;
  text-align: center;
}
.legend li {
  display: inline;
  padding: 0 10px;
}
.legend span {
  font-size: 1.5em;
}
.legend-first {
  color: #0c71d0;
}
.legend-second {
  color: #2d2d32;
}

.wrapper .content h2.title, .wrapper .content h3.title {
    margin: -5px 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #0c71d0;
    color: #2d2d32;
}

.wrapper .content h3.title {
    padding: 0 0 15px;
    font-size: 40px;
    line-height: 45px;
}
.content h3.profile-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.wrapper .content h2 {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 18px;
    padding-right: 20px;
}

.wrapper .content h2 small {
    margin-left: 10px;
    vertical-align: middle;
}

.wrapper .content h2 a {
    color: #2d2d32;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 767px) {
    .wrapper .content h2.title {
        font-size: 26px;
        padding-bottom: 5px;
    }
}

.wrapper .content p {
    line-height: 150%;
    vertical-align: baseline;
}


.font-slim {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 500;
}

.font-fat {
    font-weight: 600;
}

.text-center {
    text-align: center;
}


.col-lg-6 .input-group input {
    width: 89%;
}

.col-lg-6 .input-group .input-group-addon {
    margin-right: -5px;
    width: 8%;
}


#submit-package-form .form-control {
    border-radius: 4px;
}


.fos_user_profile_edit .notifications {
    margin: 10px 0;
    float: left;
}


.packages-short ul {
    list-style: none;
    margin: 0;
}

.packages-short li {
    margin-bottom: 12px;
    font-style: italic;
    font-weight: 400;
}

.packages-short li a {
    display: block;
    font-style: normal;
}

.packages-short li a strong {
    margin-left: 5px;
    font-size: 14px;
}

.packages .package-item {
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
}

.s-flex {
    display: flex;
}
.link-gray-dark {
    color: #24292e!important;
}
.link-gray {
    color: #586069!important;
}

.no-underline {
    text-decoration: none!important;
}
.user-grid .package-item {
    border: 1px solid #d1d5da;
}
.role-name {
    display: inline-block;
    padding: 2px 6px;
    color: rgba(27,31,35,.6);
    background-color: #eaf5ff;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
}
.user-grid .role-container {
    margin: 10px;
}

.packages .selected .package-item {
    padding: 4px 14px;
    border: 1px solid #0c71d0;
}

.packages .package-item h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.packages .package-item h4 small {
    margin-left: 5px;
    color: #83C129;
    font-size: 16px;
}

.alert {
    background: none;
    border: none;
    border-left: 4px solid #000;
    box-shadow: none;
    border-radius: 0;
    padding: 5px 0 5px 10px;
}
.alert p {
  margin: 0;
}
.flash-container .alert {
  margin-bottom: 0;
}
.alert-warning {
    border-left-color: #cd6222;
    color: #2d2d32;
}
.alert-danger, .alert-error {
    border-left-color: #cd3729;
    color: #2d2d32;
}
.alert-success {
    border-left-color: #69AD21;
    color: #2d2d32;
}


.chart {
    min-height: 300px;
}
.version-stats-chart .chart {
    min-height: 400px;
}
svg {
    display: auto !important;
    width: auto !important;
    height: auto !important;
}
svg.chart {
    display: block !important;
    width:100% !important;
    height:100% !important;
    padding-left: 0;
}
@media (max-width: 767px) {
  svg.chart {
    margin-left: -10px;
  }
}
.nvd3 text {
  font: normal 12px 'Open Sans';
}
.nv-x text {
  baseline-shift: -10px;
}
.nv-context .nv-x text {
  baseline-shift: -5px;
}
.nvd3 .nv-axis .domain {
  display: none;
}
.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal !important;
}
.nvd3 .nv-y .nv-axis .nv-axisMaxMin:last-child {
  display: none;
}
.nvd3 .nv-x .nv-axis .nv-axisMaxMin:last-child text {
  text-anchor: end !important;
}
.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
  fill-opacity: 0 !important;
  stroke-opacity: 0 !important;
}

@media (max-width: 1199px) {
    .publishing-packages {
        margin-top: 40px;
    }
}
#how-to-submit-packages, #how-to-update-packages {
    margin-top: 40px;
}

.package-installs dt {
  float: left;
  min-width: 125px;
  text-align: right;
  margin-right: 20px;
}
.package-installs dl {
  margin-bottom: 5px;
}
.version-stats.package .package-aside.versions-wrapper {
  margin-top: 0;
}
.version-stats-chart {
  width: 70%;
  margin-right: 5%;
  position: relative;
}

.nav .launcher-item {
    padding: 5px;
    display: table-cell;
}
.launcher-item a, .launcher-item button {
    color: #2d2d32;
    background:none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}
.launcher-item button:hover {
    text-decoration: none;
    background: #eee;
}
.badge-enabled {
    background-color: #dff2d4;
    color: #2f8206;
    border-radius: 10px;
    padding: 2px 10px;
}
.badge-disable {
    background-color: #ffccce;
    color: #951f04;
    border-radius: 10px;
    padding: 2px 10px;
}
.tab-cell {
    display: table-cell;
    padding-left: 8px;
}
.collection-item .input-group .input-group-addon {
    width: 50%;
}

.collection-item .input-group .form-control {
    width: 40%;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-size: 110%;

    display: inline-block;
    width: 1em;

    line-height: 1;
    text-decoration: inherit;
    text-align: center;
    speak: none;
}

.package-panel-info {
    border-color: #0c71d0;
}
.package-panel-danger {
    border-color: #cd3729;
}
.package-panel-info >.panel-heading {
    background-image: linear-gradient(#0c71d0, #405cd0);
}
.package-panel-danger >.panel-heading {
    background-image: linear-gradient(#cd3729, #cd554c);
}
.panel-heading .anchor {
    color: #FFF;
}
.package-permission input {
    width: 100% !important;
}

.icon-mail:before { content: '\2709'; } /* '✉' */

.webhook a.link {
    color: #373b40;
    text-decoration: none;
}

.webhook .panel-body {
    padding: 10px 10px 6px;
}

pre.github {
    padding: 7px 12px;
    margin: 10px 0;
    overflow: auto;
    font-size: 13px;
    line-height: 1.5;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.hook-delivery-guid {
    display: inline-block;
    padding: 2px 6px;
    font-size: 0.95em;
    color: rgba(0,0,0,.5);
    background-color: rgba(209,227,237,.5);
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .modal-lg {
        width:1150px
    }
}

.choice-widget-expanded {
    display: flex;
    padding-top: 6px;
}
.choice-widget-expanded input[type=checkbox] {
    margin: 0 6px 0 0;
}
.choice-widget-expanded label {
    margin: 0;
}

label.required em {
    color: #a91c00;
    font-style: normal;
    position: absolute;
    margin-left: 4px;
}

.btn.show-token {
    padding: 2px 8px;
    font-size: 12px;
    border-bottom: 0;
}

.btn.show-token:hover {
    background: #2f6cca;
}

.table-token-tr th {
    padding: 15px 8px !important;
}
.table-token-body .btn {
    padding: 3px 8px;
    font-size: 0.9em;
}

.well-card {
    margin-bottom: 1.5rem;
    box-shadow: rgba(53,64,82,.04) 0 2px 4px 0;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(53,64,82,.16);
    min-height: 20px;
    padding: 19px;
    border-radius: 4px;
}
.well-card .input-group-addon {
    background: #f1f1f1;
}
.well-card .title {
    font-size: 26px !important;
}

.select2-selection {
    min-height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px!important;
}
.select2-selection__rendered {
    padding-top: 2px;
}

.collection-row {
    display: flex;
    justify-content: space-around;
}
.collection-row > div {
    width: 85%;
}
.removeRow {
    text-decoration: none !important;
}
