{% extends "layout.html.twig" %}

{% block content %}
<section class="row">
    <form name="search_user" method="get" action="{{ path('users_list') }}" id="search--user-form" autocomplete="off">
        <div class="sortable row">
            <div class="col-xs-12 js-search-field-wrapper col-md-9">
                <input type="search" id="search_user_user" name="user_query" autocomplete="off" placeholder="Search user by username..." tabindex="1" class=" form-control" value="{{ searchUser }}">
            </div>
        </div>
    </form>
</section>
<div style="float:right; margin: 20px">
    <a class="btn btn-default" href="{{ path('users_login_attempts_all') }}">All user sessions</a>
    <a class="btn btn-primary" href="{{ path('users_create') }}">Create user</a>
</div>
<section class="row">
    <ul class="packages user-grid list-unstyled">
        {% for user in users %}
        {% set userUrl = path('user_profile', { 'name' : user.userIdentifier }) %}
        <li data-url="{{ userUrl }}" class="row">
            <div class="col-xs-12 package-item">
                <div class="row" style="margin: 6px 12px;">

                    <div class="s-flex">
                        <a href="{{ userUrl }}" class="s-flex no-underline link-gray-dark">
                            <img width="40" height="40" title="{{ user.email }}" alt="{{ user.email }}" src="https://www.gravatar.com/avatar/{{ user.email|gravatar_hash }}?s=48&amp;d=identicon">
                            <h4 class="tab-cell">{{ user.userIdentifier }}</h4>
                            {% if user.roles|length > 0 %}
                                <div class="role-container">
                                    <span class="role-name">{{ user.roles|join(', ') }}</span>
                                </div>
                            {% endif %}
                        </a>

                        <div style="width: 90%; margin-top: 10px">
                            <a href="{{ path('users_update', {name: user.userIdentifier}) }}" style="float: right; padding: 5px 14px;" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                    <p class="link-gray" style="font-size: 12px">
                        Active: {{ user.enabled ? 'Yes' : 'No' }}<br>
                        Expires at: {{ user.expiresAt ?  user.expiresAt|date('Y-m-d') : 'N/A' }}
                    </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% if users.haveToPaginate() %}
        {{ pagerfanta(users, 'twitter_bootstrap', {'proximity': 2}) }}
    {% endif %}
</section>
{% endblock %}
